<IfModule mod_rewrite.c>
  RewriteEngine On

  # Force HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Redirect www to non-www
  RewriteCond %{HTTP_HOST} ^www\.prephq\.theiotacademy\.co$ [NC]
  RewriteRule ^ https://prephq.theiotacademy.co%{REQUEST_URI} [L,R=301]

  # Exclude API folder
  RewriteCond %{REQUEST_URI} ^/api/
  RewriteRule .* - [L]

  # SPA fallback
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
