:root {
    --font: "Inter", sans-serif;
}

header .navbar .nav-link.active:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: #000;
}

.banner{
    background: linear-gradient(90deg, #DDECFF 0%, #FFEED5 100%);
    background-size: cover;
    min-height: 566px;
    display: flex;
    align-items: center;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
}
.banner .heading{
    color: #113563;
    text-align: left;
    font-family: var(--font);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 133.333% */
    margin-bottom: 0;
}
.banner .tagline{
    color: #113563;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner .rate{
    color: #113563;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.banner .rate span{
    color: #FDA31B;
}
.banner .avg-rate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    color: #113563;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.banner .btn-group{
    margin-top: 37px;
    gap: 30px;
    flex-wrap: wrap;
}
.banner .btn-group .custom-btn:nth-child(2):after{
  content: "";
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-left: 6px; /* optional spacing */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M13.2478 9.18491C13.0285 9.18491 12.8092 9.18491 12.5887 9.18491C8.85787 9.18491 5.12591 9.18727 1.39509 9.18255C0.484666 9.18255 -0.0145282 8.72336 0.000322066 7.93245C0.0117453 7.31862 0.405847 6.85352 1.001 6.77325C1.20775 6.74492 1.41908 6.75082 1.62813 6.75082C5.24471 6.74964 8.86244 6.75082 12.479 6.75082C12.72 6.75082 12.9611 6.75082 13.3803 6.75082C13.1347 6.46869 13.0113 6.31405 12.8743 6.17358C11.7285 4.99313 10.5793 3.81622 9.4336 2.63577C9.06691 2.25802 8.92527 1.80001 9.08633 1.28651C9.23369 0.813149 9.58781 0.497968 10.0539 0.499149C10.3829 0.499149 10.801 0.614833 11.026 0.84148C12.8137 2.63813 14.5797 4.4572 16.3195 6.30461C17.2116 7.25133 17.2356 8.66315 16.3469 9.6146C14.5889 11.4974 12.7852 13.3342 10.9837 15.1733C10.5165 15.6502 9.79343 15.5889 9.34335 15.1037C8.90699 14.6351 8.89785 13.9138 9.37077 13.4015C10.0801 12.633 10.8169 11.8905 11.5469 11.1433C12.1352 10.5413 12.7326 9.94866 13.3255 9.35136C13.2992 9.29588 13.2729 9.24039 13.2467 9.18491H13.2478Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.banner .btn-group .custom-btn:nth-child(2){
    background: #113563;
}
.banner .btn-group .custom-btn:nth-child(2):before{
    background: #FDA31B;
}
.banner .row .col-lg-6:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner .banner-left{
 overflow: hidden;
    /*animation: drop-in 1s ease 200ms backwards;*/
}
@keyframes drop-in {
 from {
  opacity: 0;
  transform: translateX(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}
.banner .banner-right{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 60px;
    overflow: hidden;
    /*animation: drop-in2 1s ease 200ms backwards;*/
}
@keyframes drop-in2 {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}
.banner .banner-right .play{
    position: absolute;
    left: 0;
    top: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .banner-right .play svg{
    position: absolute;
    z-index: 9;
}
.banner .banner-right .play img{
    display: block;
      width: 116px;
      height: 116px;
    animation: moveCircle 10s linear infinite;
}
@keyframes moveCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.banner .banner-right .animate-points{
    position: absolute;
    right: 0;
    top: 128px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.banner .banner-right .animate-points p{
    min-width: 163px;
    min-height: 67px;
    border-radius: 10px;
    background: rgba(17, 53, 99, 0.57);
    box-shadow: 0px 0px 25.3px 7px #113563 inset;
    color: #FFF;
    font-family: var(--font);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    letter-spacing: 0.11px;
    margin-bottom: 0;
    padding: 15px;
    position: relative;
    right: 0;
}
.banner .banner-right .animate-points p span{
    display: block;
    color: #FFF;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.2px;
}
.banner .banner-right .animate-points p{
    animation: mymove 10s infinite;
}
.banner .banner-right .animate-points p:nth-child(even){
    animation-delay: 5s;
}
@keyframes mymove {
  0% {right: 0;}
  50% {right: 63px;}
  100% {right: 0;}
}

.point-cards{
    position: relative;
    padding: 40px 0;
    min-height: 285px;
}
.point-cards .parts{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    transition: ease 0.5s;
}
.point-cards .parts .content{
    display: flex;
    width: auto !important;
    min-width: 300px;
    align-items: center;
    flex-direction: column;
    background: none !important;
    box-shadow: none !important;   
    align-items: flex-start;
    justify-content: center;
}
.point-cards .parts .content .heading{
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}
.point-cards .parts .part{
    width: 205px;
    min-width: 205px;
    min-height: 205px;
    border-radius: 30px 30px 30px 0px;
    background: #FFF;
    box-shadow: 8px 6px 14px 0px rgba(0, 0, 0, 0.10);
    padding: 15px;
}
.point-cards .parts .part .icon{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #23293C;
    margin-bottom: 14px;
    border-radius: 50%;
    transition: ease 1s;
}
.point-cards .parts .part:hover .icon{
    transform: rotateY(360deg);
}
.point-cards .parts .part .head{
    color: #000;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.point-cards .parts .part p{
    color: #000;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.marque-top{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.marque-top p{
    color: #000;
    text-align: center;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-top: 2px solid #113563;
    border-bottom: 2px solid #113563;
    margin-bottom: 40px;
}
.marquee-container .swiper { width: 100%;}
.marquee-container .swiper-wrapper { transition-timing-function: linear !important; }
.marquee-container .swiper-slide {
    height: 60px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 2rem 1rem;
    perspective: 100px;
    padding: 10px;
    color: var(--text-black);
    font-size: 15px;
    font-weight: 700
}
.marquee-container .swiper-slide .name {
    display: flex;
    flex-direction: column
}


.search-list{
    padding: 40px 0;
}
.search-list .col-6{
    position: relative;
}
.search-list form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.search-list form label{
    position: absolute;
    left: 30px;
}
.search-list .col-6 input{
    width: 100%;
    padding: 18px 30px 18px 75px;
    min-height: 60px;
    background: #FFF;
    box-shadow: 8px 6px 14.7px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    border: 0;
    outline: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.search-list form input::placeholder{
    color: #A6A6A6;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.search-list .searchData{
    position: absolute;
    left: calc(var(--bs-gutter-x) * .5);
    right: calc(var(--bs-gutter-x) * .5);
    width: auto;
    max-height: 204px;
    overflow-y: scroll;
    background: #F0F7FF;
    padding: 0;
    border-radius: 10px;
    z-index: 9;
}
.search-list .searchData .search-menu li{
    border: none;
}
.search-list .searchData .search-menu li a{
    min-height: 44px;
    padding: 8px 30px;
    color: #113563;
    text-align: start;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}
.search-list .searchData .search-menu li a:hover{
    background: #C3DDFA;
}
.search-list .dropdown button{
    width: 100%;
    padding: 18px 30px;
    min-height: 60px;
    background: #FFF;
    box-shadow: 8px 6px 14.7px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    border: 0;
    outline: none;
    text-align: start;
    color: #A6A6A6;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    gap: 20px;
}
.search-list .dropdown button.show{
    color: #000;
}
.search-list .dropdown button .down-arrow{
    margin-left: auto;
}
.search-list .dropdown .dropdown-menu{
    width: 100%;
    max-height: 204px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #F0F7FF;
    padding: 0;
    border-radius: 10px;
    border: none;
    z-index: 9;
}
.search-list .dropdown .dropdown-menu .dropdown-item{
    min-height: 44px;
    padding: 8px 30px;
    color: #113563;
    text-align: start;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: normal;
}
.search-list .dropdown .dropdown-menu .dropdown-item:hover{
    background: #C3DDFA;
}
.search-list .dropdown .dropdown-menu::-webkit-scrollbar, .search-list .searchData::-webkit-scrollbar {
    width: 15px;
}
.search-list .dropdown .dropdown-menu::-webkit-scrollbar-track, .search-list .searchData::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #D9D9D9;
}
.search-list .searchData::-webkit-scrollbar-thumb, .search-list .dropdown .dropdown-menu::-webkit-scrollbar-thum {
    width: 9px;
    border-radius: 9px;
    background: #FDA31B;
}

.top-courses{
    padding: 40px 0;
    margin-bottom: 20px;
}
.top-courses .heading-top{
   text-align: center;
   margin-bottom: 25px;
}
.top-courses .heading-top span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 10px;
    color: #FDA31B;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #FDA31B;
}
.top-courses .heading{
    margin-bottom: 60px;
}
.top-courses .items{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.top-courses .items .item{
    flex: 0 0 auto;
    width: calc(25% - 30px);
    background: #FFF;
    border-radius: 20px 20px 20px 0;
    overflow: hidden;
    position: relative;
    min-height: 420px;
    transition: ease 0.5s;
    padding-bottom: 75px;
}
.top-courses .items .item .image{
    border-radius: 20px 20px 20px 0px;   
}
.top-courses .items .item .image img{
    width: 100%;
    object-fit: cover;
}
.top-courses .items .item .image .top-course{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    transition: ease 0.5s;
}
.top-courses .items .item .image .top-course span{
    display: inline-flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px 25px 25px 0px;
    background: rgba(17, 53, 99, 0.61);
    box-shadow: 0px 0px 25.3px 7px #000916 inset;
    color: #FFF;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.top-courses .items .item .image .top-course img, .top-courses .items .item .image .top-course .icon{
    width: auto;
    max-height: 52px;
    display: none;
}
.top-courses .items .item .duration-star{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 13px 20px 0 20px;
    transition: ease 0.5s;
}
.top-courses .items .item .duration-star .star{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.top-courses .items .item .duration-star .star span{
    color: #757F95;
    text-align: justify;
    font-family: var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.top-courses .items .item .head{
    color: #000;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4; /* 140% */
    margin: 20px 20px 10px 20px;
}
.top-courses .items .item .content{
    color: #000;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
    margin: 20px 20px 10px 20px;
    transition: ease 0.5s;
    display: none;
}
.top-courses .items .item .duration-seat-group{
     position: absolute;
     bottom: 0;
     padding: 20px;
     display: flex;
     gap: 10px;
     width: 100%;
     z-index: 9;
     transition: ease 0.5s;
}
.top-courses .items .item .duration, .top-courses .items .item .seat, .top-courses .items .item .online{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: #757F95;
    font-family: var(--font);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px 17px 17px 0px;
    border: 1px solid #D9D9D9;
    padding: 7px 10px;
    margin: 0;
    min-height: 34px;
}
.top-courses .items .item .seat{
    display: none;
}
.top-courses .items .item .btn-group{
    position: absolute;
    bottom: 0;
    padding: 20px;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    display: none;
}
.top-courses .items .item .btn-group .custom-btn{
    background: #113563;
   color: #fff;
    width: 100%;
}
.top-courses .items .item .btn-group .custom-btn:hover{
    color: #fff;
}
.top-courses .items .item .btn-group .custom-btn:after, .top-courses .all-courses .custom-btn:after{
  content: "";
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-left: 6px; /* optional spacing */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M13.2478 9.18491C13.0285 9.18491 12.8092 9.18491 12.5887 9.18491C8.85787 9.18491 5.12591 9.18727 1.39509 9.18255C0.484666 9.18255 -0.0145282 8.72336 0.000322066 7.93245C0.0117453 7.31862 0.405847 6.85352 1.001 6.77325C1.20775 6.74492 1.41908 6.75082 1.62813 6.75082C5.24471 6.74964 8.86244 6.75082 12.479 6.75082C12.72 6.75082 12.9611 6.75082 13.3803 6.75082C13.1347 6.46869 13.0113 6.31405 12.8743 6.17358C11.7285 4.99313 10.5793 3.81622 9.4336 2.63577C9.06691 2.25802 8.92527 1.80001 9.08633 1.28651C9.23369 0.813149 9.58781 0.497968 10.0539 0.499149C10.3829 0.499149 10.801 0.614833 11.026 0.84148C12.8137 2.63813 14.5797 4.4572 16.3195 6.30461C17.2116 7.25133 17.2356 8.66315 16.3469 9.6146C14.5889 11.4974 12.7852 13.3342 10.9837 15.1733C10.5165 15.6502 9.79343 15.5889 9.34335 15.1037C8.90699 14.6351 8.89785 13.9138 9.37077 13.4015C10.0801 12.633 10.8169 11.8905 11.5469 11.1433C12.1352 10.5413 12.7326 9.94866 13.3255 9.35136C13.2992 9.29588 13.2729 9.24039 13.2467 9.18491H13.2478Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.top-courses .items .item .btn-group .custom-btn::before{
  background: #FDA31B;
}
/*--item hover css--*/
.top-courses .items .item:hover{
    border: 1px solid #113563;
    box-shadow: 0px 6px 14.7px rgba(17, 53, 99, 0.20);   
}
.top-courses .items .item:hover .image img, .top-courses .items .item:hover .head{
    display: none;
}
.top-courses .items .item:hover .image .top-course{
    position: relative;
    padding: 15px 20px;
}
.top-courses .items .item:hover .image .top-course span{
    background: #113563;
}
.top-courses .items .item:hover .image .top-course img, .top-courses .items .item:hover .image .top-course .icon, .top-courses .items .item:hover .content, .top-courses .items .item:hover .btn-group{
    display: flex;
}
.top-courses .items .item:hover .duration-seat-group{
     bottom: 80px;
}
.top-courses .items .item:hover .seat{
     display: inline-flex;
}
.top-courses .items .item:hover .online{
     display: none;
}

.top-courses .all-courses{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-courses .all-courses .custom-btn{
    background: #113563;
}
.top-courses .all-courses .custom-btn::before{
    background: #FDA31B;
}



.join-us{
    padding-top:60px;    
    border-radius: 50px 50px 0px 0px;
    background: #012758;
    border-bottom: 10px solid #FDA31B;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.join-us:after, .join-us:before{
    content: "";
    background: linear-gradient(180deg, rgba(1, 39, 88, 0.00) 0%, #184988 100%);
    width: 374px;
    height: 187px;
    border-radius: 0 0 187px 187px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.join-us:before{
    background: linear-gradient(268deg, rgba(1, 39, 88, 0.00) 0%, #184988 100%);
    width: 187px;
    height: 374px;
    border-radius: 187px 0 0 187px;
    left: auto;
    right: 0;
    top: calc(50% - 187px);
}
.join-us .heading-top{
   text-align: center;
   margin-bottom: 20px;
}
.join-us .heading-top span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 10px;
    color: #FDA31B;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #FDA31B;
}
.join-us .heading{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.join-us .tagline{
    color: #F2F3F5;
    text-align: center;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 34px;
}
.join-us .points{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}
.join-us .points .point{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.join-us .points .point p{
    color: #F2F3F5;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.join-us .points .point p span{
    display: block;
    font-size: 30px;
    font-weight: 900;
}
.join-us .parts{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 65px;
    min-height: 446px;
    background-position: start top;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.join-us .parts .part{
    max-width: 289px;
    min-height: 315px;
    padding: 30px;
    border-radius: 50px 50px 50px 0px;
    border: 1px solid #FFF;
    background: rgba(13, 59, 117, 0.57);
    box-shadow: 0px 0px 25.3px 10px #031D3F inset;
}
.join-us .parts .part .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 20px 20px 20px 0px;
    background: #FFEDD1;
}
.join-us .parts .part:nth-child(odd) .icon{
    background: #FFEDD1;
}
.join-us .parts .part .head{
    color: #FFF;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}
.join-us .parts .part p{
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.four-cards{
    padding: 60px 0;
    background: #012758;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.four-cards:after, .four-cards::before{
    content: "";
    background: url(../images/new-home/sec-bg.webp) center center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 281px;
    z-index: -1;
}
.four-cards::before{
    left: auto;
    right: 0;
    top: 0;
    transform: rotate(180deg);
}
.four-cards .items{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.four-cards .items .item{
    flex: 0 0 auto;
    width: calc(25% - 20px);
    min-height: 424px;
    padding: 30px;
    padding-bottom: 85px;
    border-radius: 50px 50px 50px 0px;
    background: #FFF;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
}
.four-cards .items .item:after{
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    width: 78px;
    height: 78px;
    border: 12px solid rgba(253, 163, 27, 0.30);
    border-radius: 50%;
    transition: ease 0.5s;
}
.four-cards .items .item:hover:after{
    border: 12px solid rgba(253, 163, 27);
}
.four-cards .items .item .head{
    color: #000;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 0;
}
.four-cards .items .item ul, .four-cards .items .item ol, .four-cards .items .item .info{
    margin-top: 10px;
    margin-bottom: 0;
    color: #313131;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    margin-bottom: 0;
}
.four-cards .items .item ul, .four-cards .items .item ol{
    padding-left: 16px;
}
.four-cards .items .item .numbers{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.four-cards .items .item .numbers .part{
    display: flex;
    flex-direction: column;
}
.four-cards .items .item .numbers .part .num{
    color: #000;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0;
}
.four-cards .items .item .numbers .part p{
    color: #313131;
    font-family: var(--font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.partners{
    padding: 80px 0;
}
.partners .heading{
    margin-bottom: 60px;
}
.partners .partner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.partners .partner .item{
    min-width: 171px;
    max-width: 171px;
    height: 67px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 0px;
    background: #FFF;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.gallery{
    padding: 40px 0;
    margin-bottom: 40px;
}
.gallery .heading-top{
   text-align: center;
   margin-bottom: 20px;
}
.gallery .heading-top span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 10px;
    color: #FDA31B;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #FDA31B;
}
.gallery .heading{
    margin-bottom: 60px;
}
.gallery .row img{
    object-fit: cover;
    width: 100%;
    height: 100%;   
}
.gallery .row{
    row-gap: 30px;
}

.rewards{
    padding: 60px 0;
    background: linear-gradient(0deg, rgba(1, 39, 88, 0.90), rgba(1, 39, 88, 0.90)), url(../images/new-home/rewardsbg.webp) center center no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.rewards:after, .rewards::before{
    content: "";
    background: url(../images/new-home/sec-bg.webp) center center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 281px;
    z-index: -1;
}
.rewards::before{
    left: auto;
    right: 0;
    top: 0;
    transform: rotate(180deg);
}
.rewards .heading{
    color: #fff;
    margin-bottom: 10px;
}
.rewards .tagline{
    color: #FFF;
    text-align: center;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
}
.rewards .row{
    gap: 20px;
}
.rewards .col-md-3{
    width: calc(25% - 20px);
    padding: 0;
    margin: 0;
}
.rewards .part img{
    width: 100%;
    object-fit: cover;
    box-shadow: inset 0 0 0px 2px #113563;
    border-radius: 10px;
    border: 1px solid #fff;
}
.rewards .btn-group{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.rewards .btn-group .custom-btn:hover{
    color: #113563;
}
.rewards .btn-group .custom-btn::before{
    background: #fff;
}
.rewards .btn-group .custom-btn:after{
  content: "";
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-left: 6px; /* optional spacing */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M13.2478 9.18491C13.0285 9.18491 12.8092 9.18491 12.5887 9.18491C8.85787 9.18491 5.12591 9.18727 1.39509 9.18255C0.484666 9.18255 -0.0145282 8.72336 0.000322066 7.93245C0.0117453 7.31862 0.405847 6.85352 1.001 6.77325C1.20775 6.74492 1.41908 6.75082 1.62813 6.75082C5.24471 6.74964 8.86244 6.75082 12.479 6.75082C12.72 6.75082 12.9611 6.75082 13.3803 6.75082C13.1347 6.46869 13.0113 6.31405 12.8743 6.17358C11.7285 4.99313 10.5793 3.81622 9.4336 2.63577C9.06691 2.25802 8.92527 1.80001 9.08633 1.28651C9.23369 0.813149 9.58781 0.497968 10.0539 0.499149C10.3829 0.499149 10.801 0.614833 11.026 0.84148C12.8137 2.63813 14.5797 4.4572 16.3195 6.30461C17.2116 7.25133 17.2356 8.66315 16.3469 9.6146C14.5889 11.4974 12.7852 13.3342 10.9837 15.1733C10.5165 15.6502 9.79343 15.5889 9.34335 15.1037C8.90699 14.6351 8.89785 13.9138 9.37077 13.4015C10.0801 12.633 10.8169 11.8905 11.5469 11.1433C12.1352 10.5413 12.7326 9.94866 13.3255 9.35136C13.2992 9.29588 13.2729 9.24039 13.2467 9.18491H13.2478Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.rewards .btn-group .custom-btn:hover:after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M13.2478 9.18491C13.0285 9.18491 12.8092 9.18491 12.5887 9.18491C8.85787 9.18491 5.12591 9.18727 1.39509 9.18255C0.484666 9.18255 -0.0145282 8.72336 0.000322066 7.93245C0.0117453 7.31862 0.405847 6.85352 1.001 6.77325C1.20775 6.74492 1.41908 6.75082 1.62813 6.75082C5.24471 6.74964 8.86244 6.75082 12.479 6.75082C12.72 6.75082 12.9611 6.75082 13.3803 6.75082C13.1347 6.46869 13.0113 6.31405 12.8743 6.17358C11.7285 4.99313 10.5793 3.81622 9.4336 2.63577C9.06691 2.25802 8.92527 1.80001 9.08633 1.28651C9.23369 0.813149 9.58781 0.497968 10.0539 0.499149C10.3829 0.499149 10.801 0.614833 11.026 0.84148C12.8137 2.63813 14.5797 4.4572 16.3195 6.30461C17.2116 7.25133 17.2356 8.66315 16.3469 9.6146C14.5889 11.4974 12.7852 13.3342 10.9837 15.1733C10.5165 15.6502 9.79343 15.5889 9.34335 15.1037C8.90699 14.6351 8.89785 13.9138 9.37077 13.4015C10.0801 12.633 10.8169 11.8905 11.5469 11.1433C12.1352 10.5413 12.7326 9.94866 13.3255 9.35136C13.2992 9.29588 13.2729 9.24039 13.2467 9.18491H13.2478Z' fill='currentColor'/%3E%3C/svg%3E");
}

.achievers {
    padding: 40px 0;
    margin-top: 40px;
}
.achievers .heading-top{
   text-align: center;
   margin-bottom: 20px;
}
.achievers .heading-top span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 10px;
    color: #FDA31B;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #FDA31B;
}
.achievers .heading{
    margin-bottom: 60px;
}
.achievers .review {
    padding-top:30px;
    border-radius: 50px 50px 50px 0px;
    background: #113563;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    min-height: 413px;
}
.achievers .review .star-qute {
    min-height: 37px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    padding-left: 30px;
}
.achievers .review .star-qute span{
    position: absolute;
    right: 0;
    top: 0;
}
.achievers .review p {
    color: #FFF;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    padding: 0 30px;
}
.achievers .review .details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    padding-left: 30px;
    position: absolute;
    bottom: 52px;
}
.achievers .review .details .image{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 70px;
}
.achievers .review .details .image img{
    border-radius: 50%;
}
.achievers .review .details .name{
    color: #FFF;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    padding: 0;
}
.achievers .review .details .name span{
    display: block;
    font-size: 15px;
    font-weight: 500;
}
.achievers .review .f-part{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    background: #FCB025;
    border-radius: 0px 0px 50px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.achievers .review .content p {
    margin-bottom: 0;
    color: var(--text-black)
}

.achievers .swiper-pagination3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.achievers .swiper-pagination3 .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #FCB025;
    opacity: 1;
}
.achievers .swiper-pagination3 .swiper-pagination-bullet-active{
    width: 34px;
}

.expertise{
    padding: 40px 0;
    margin-bottom: 40px;
}
.expertise .heading-top{
   text-align: center;
   margin-bottom: 20px;
}
.expertise .heading-top span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 10px;
    color: #FDA31B;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #FDA31B;
}
.expertise .heading{
    margin-bottom: 60px;
}
.expertise .part{
    background: #FFF;
    box-shadow: 0px 6px 14.7px rgba(151, 71, 255, 0.20);
    padding: 20px;
    border-radius: 30px 30px 30px 0;
    position: relative;
}
.expertise .part:after{
    content: "Top Trending";
    position: absolute;
    right: 0;
    top: 40px;
    display: inline-flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px 61px 61px 0px;
    background: #FDA31B;
    color: #FFF;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.expertise .part .image{
    max-height: 224px;
    width: 100%;
    border-radius: 20px 20px 20px 0;
    overflow: hidden;
    transition: ease-in-out 0.5s;
}
.expertise .part .image img{
    transition: ease-in-out all 0.5s;
    width: 100%;
}
.expertise .part .image:hover img{
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
}
.expertise .part .pop-content{
    padding: 20px 0;
}
.expertise .part .brand{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: #757F95;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.expertise .part .name{
    font-family: var(--font);
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 22px;
    margin-bottom: 20px;
}
.expertise .part .btn-group{
    display: flex;
    padding-top: 30px;
    border-top: 2px solid rgba(98, 85, 165, 0.20);
    border-radius: 0;
}
.expertise .part .btn-group .custom-btn{
    border: 2px solid #113563;
    background: #fff;
    color: #113563;
}
.expertise .part .btn-group .custom-btn:hover{
    border: 2px solid #FDA31B;
    color: #fff;
}
.expertise .part .btn-group .custom-btn::before{
    background: #FDA31B;
}
.expertise .part .btn-group .custom-btn:after{
  content: "";
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-left: 6px; /* optional spacing */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M13.2478 9.18491C13.0285 9.18491 12.8092 9.18491 12.5887 9.18491C8.85787 9.18491 5.12591 9.18727 1.39509 9.18255C0.484666 9.18255 -0.0145282 8.72336 0.000322066 7.93245C0.0117453 7.31862 0.405847 6.85352 1.001 6.77325C1.20775 6.74492 1.41908 6.75082 1.62813 6.75082C5.24471 6.74964 8.86244 6.75082 12.479 6.75082C12.72 6.75082 12.9611 6.75082 13.3803 6.75082C13.1347 6.46869 13.0113 6.31405 12.8743 6.17358C11.7285 4.99313 10.5793 3.81622 9.4336 2.63577C9.06691 2.25802 8.92527 1.80001 9.08633 1.28651C9.23369 0.813149 9.58781 0.497968 10.0539 0.499149C10.3829 0.499149 10.801 0.614833 11.026 0.84148C12.8137 2.63813 14.5797 4.4572 16.3195 6.30461C17.2116 7.25133 17.2356 8.66315 16.3469 9.6146C14.5889 11.4974 12.7852 13.3342 10.9837 15.1733C10.5165 15.6502 9.79343 15.5889 9.34335 15.1037C8.90699 14.6351 8.89785 13.9138 9.37077 13.4015C10.0801 12.633 10.8169 11.8905 11.5469 11.1433C12.1352 10.5413 12.7326 9.94866 13.3255 9.35136C13.2992 9.29588 13.2729 9.24039 13.2467 9.18491H13.2478Z' fill='currentColor'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.expertise .part .btn-group .custom-btn:hover:after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M13.2478 9.18491C13.0285 9.18491 12.8092 9.18491 12.5887 9.18491C8.85787 9.18491 5.12591 9.18727 1.39509 9.18255C0.484666 9.18255 -0.0145282 8.72336 0.000322066 7.93245C0.0117453 7.31862 0.405847 6.85352 1.001 6.77325C1.20775 6.74492 1.41908 6.75082 1.62813 6.75082C5.24471 6.74964 8.86244 6.75082 12.479 6.75082C12.72 6.75082 12.9611 6.75082 13.3803 6.75082C13.1347 6.46869 13.0113 6.31405 12.8743 6.17358C11.7285 4.99313 10.5793 3.81622 9.4336 2.63577C9.06691 2.25802 8.92527 1.80001 9.08633 1.28651C9.23369 0.813149 9.58781 0.497968 10.0539 0.499149C10.3829 0.499149 10.801 0.614833 11.026 0.84148C12.8137 2.63813 14.5797 4.4572 16.3195 6.30461C17.2116 7.25133 17.2356 8.66315 16.3469 9.6146C14.5889 11.4974 12.7852 13.3342 10.9837 15.1733C10.5165 15.6502 9.79343 15.5889 9.34335 15.1037C8.90699 14.6351 8.89785 13.9138 9.37077 13.4015C10.0801 12.633 10.8169 11.8905 11.5469 11.1433C12.1352 10.5413 12.7326 9.94866 13.3255 9.35136C13.2992 9.29588 13.2729 9.24039 13.2467 9.18491H13.2478Z' fill='white'/%3E%3C/svg%3E");
}
.expertise .swiper-pagination4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.expertise .swiper-pagination4 .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #FCB025;
    opacity: 1;
}
.expertise .swiper-pagination4 .swiper-pagination-bullet-active{
    width: 34px;
}

.leadership{
    position: relative;
    padding: 60px 0;
    overflow: hidden;
    margin-bottom: 80px;
}
.leadership:before{
    content: "";
    width: 30%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background: rgba(1, 39, 88, 0.90);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.leadership .form-part{
    border-radius: 50px 50px 50px 0px;
    background: #FFF;
    overflow: hidden;
}
.leadership .form-part .head{
    color: #FFF;
    font-family: var(--font);
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    background: #FDA31B;
    padding: 30px 40px;
    margin-bottom: 0;
}
.leadership .form-part form{
    padding: 30px 40px;
}
.leadership .form-part form .form-control{
    min-height: 56px;
    border-radius: 10px;
    background: #F2F3F5;
    margin-bottom: 10px;
    border: none;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    box-shadow: none;
    outline: none;
}
.leadership .form-part form .form-control::placeholder{
    color: #C3C3C3;
}
.leadership .form-part form .btn-group{
    margin-top: 20px;
}
.leadership .form-part form .btn-group .custom-btn{
    border: 0;
}
.leadership .form-part form .btn-group .custom-btn:after{
  content: "";
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-left: 6px; /* optional spacing */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M13.2478 9.18491C13.0285 9.18491 12.8092 9.18491 12.5887 9.18491C8.85787 9.18491 5.12591 9.18727 1.39509 9.18255C0.484666 9.18255 -0.0145282 8.72336 0.000322066 7.93245C0.0117453 7.31862 0.405847 6.85352 1.001 6.77325C1.20775 6.74492 1.41908 6.75082 1.62813 6.75082C5.24471 6.74964 8.86244 6.75082 12.479 6.75082C12.72 6.75082 12.9611 6.75082 13.3803 6.75082C13.1347 6.46869 13.0113 6.31405 12.8743 6.17358C11.7285 4.99313 10.5793 3.81622 9.4336 2.63577C9.06691 2.25802 8.92527 1.80001 9.08633 1.28651C9.23369 0.813149 9.58781 0.497968 10.0539 0.499149C10.3829 0.499149 10.801 0.614833 11.026 0.84148C12.8137 2.63813 14.5797 4.4572 16.3195 6.30461C17.2116 7.25133 17.2356 8.66315 16.3469 9.6146C14.5889 11.4974 12.7852 13.3342 10.9837 15.1733C10.5165 15.6502 9.79343 15.5889 9.34335 15.1037C8.90699 14.6351 8.89785 13.9138 9.37077 13.4015C10.0801 12.633 10.8169 11.8905 11.5469 11.1433C12.1352 10.5413 12.7326 9.94866 13.3255 9.35136C13.2992 9.29588 13.2729 9.24039 13.2467 9.18491H13.2478Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.leadership .row .col-lg-7{
    padding-left: 50px;
}
.leadership .heading{
    color: #193B68;
    text-align: start;
    margin-bottom: 10px;
}
.leadership .tagline{
    color: #193B68;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
}
.leadership p{
    color: #193B68;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}
.leadership .progress{
    margin-bottom: 20px;
}
.leadership .progress-bar{
    background: #193B68;
}





/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .point-cards .parts {
        overflow: auto;
        white-space: nowrap;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 20px;
    }
    .point-cards .parts::-webkit-scrollbar {
        height: 0
    }
    .point-cards .parts .part {
        min-width: 205px;
        white-space: wrap;
    }
    .top-courses .items .item .duration-star{
        row-gap: 10px;
    }
    .top-courses .items .item .btn-group{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .four-cards .items .item{
        min-height: 550px;
    }
}
/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    .banner .banner-left, .banner .banner-right{
        animation: none;   
    }
    .banner .banner-left{
        margin-bottom: 1rem;
    }
    .top-courses .items{
        justify-content: center;
    }
    .top-courses .items .item {
        width: calc(50% - 30px);
    }
    .join-us .heading-top, .join-us .heading{
        text-align: center;
    }
    .join-us .parts{
        background: none !important;
        overflow: auto;
        white-space: nowrap;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-bottom: 20px;
        margin-top: 40px;
        min-height: auto;
    }
    .join-us .parts::-webkit-scrollbar {
        height: 0
    }
    .join-us .parts .part {
        min-width: 289px;
        white-space: wrap;
    }
    .gallery .row img {
        height: auto;
    }
    .four-cards .items .item {
        width: calc(50% - 20px);
        min-height: 445px;
    }
    .achievers .review{
        min-height: 470px;
    }
    .leadership .row .col-lg-7{
        margin-left: 0;
    }
    .leadership .heading{
        margin-top: 40px;
    }
    .leadership:before{
        height: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .header-top .scroll-part p{
        white-space: nowrap;
    }
    .search-list .col-6 input{
        padding: 18px 30px 18px 65px;
    }
    .search-list .dropdown button{
        gap: 17px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .heading{
        font-size: 30px;
    }
    .banner{
        padding-bottom: 200px;
    }
    .banner .heading{
        font-size: 35px;
        line-height: 1.5;
    }
    .banner .btn-group{
        gap: 10px;
    }
    .banner .btn-group .custom-btn{
        padding: 15px 12px;
        font-size: 16px;
    }
    .banner .mobile-bottom{
        position: absolute;
        bottom: 30px;
        text-align: center;
        width: 100%;
    }
    .banner .mobile-bottom .avg-rate{
        justify-content: center;
    }
    .banner .banner-right .animate-points p{
        min-width: auto;
        min-height: auto;
     }
    .banner .banner-right{
       min-height: 300px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .banner .banner-right .animate-points{
        top: 20%;
    }
    .search-list .row{
        row-gap: 10px;
    }
    .search-list .col-6{
        width: 100%;
    }
    .top-courses .items .item, .four-cards .items .item{
        width: 100%;
    }
    .four-cards .items .item {
        min-height: auto;
        padding-bottom: 100px;
    }
    .join-us .points .point {
        width: calc(45% - 20px);
    }
    .partners .partner .item{
        width: calc(50% - 20px);
        min-width: auto;
    }
    .gallery .items .item{
        width: calc(50% - 20px);
    }
    .gallery .items .item:nth-last-child(1){
        width: 100%;
        flex-direction: row;
    }
    .gallery .items .item:nth-last-child(1) img{
        width: calc(50% - 20px);
    }
    .rewards .row{
        justify-content: center;
    }
    .rewards .col-md-3 {
        width: calc(50% - 20px);
    }
    .achievers .review {
        min-height: 400px;
    }
    .leadership .row .col-lg-7{
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
}
@media only screen and (max-width: 500px) {
    .join-us .points .point {
        flex-direction: column;
        text-align: center;
    }
}
