:root {
    --heading-font: "Inter", sans-serif;
    --default-font: "Nunito", sans-serif;

    --bg-white: #ffffff;
    --bg-light: #F5F5FF;
    --bg-blue: #113563;
    --bg-orange: #FF8C02;
    --bg-yellow: #FF9D00;
    --bg-banner-gradient: linear-gradient(-90deg, #D7C8FF, #F6F6F6);
    --bg-blue-gradient: linear-gradient(-90deg, #02C4EB, #010273);
    --bg-angular-gradient: conic-gradient(from 90deg, #010273, #BFBFE7);
    --bg-accent: #FDA31B;
    --bg-gray: #E8E8E8;
    --bg-part2: #E8EEFF; 
    --bg-green: #008E17; 

    --default-color: #113563;
    --accent-color: #FDA31B;
    --text-white: #fff;
    --text-black: #000;
    --text-green: #008E17;
    --text-orange: #FF8C02;
    --text-yellow: #FF9D00;

    scroll-behavior: smooth;
}
body{
    background: #fff !important;
}
.sec-padding{
    padding: 0 7%;
}
.heading{
    text-align: left;
    color: var(--default-color);
    font-family: var(--heading-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.004%;
    margin-bottom: 30px;
}
.heading span{
    color: var(--accent-color);
}

/*--banner--*/
.banner-top{
    background: url(../images/our-placements/banner.webp) center center no-repeat;
    background-size: cover;
    padding-top: 30px;
    width: 100%;
    height: auto;
    display: block;
    min-height: 538px;
}
.banner-top .banner{
    display: flex;
    align-items: center;
}
.banner-top .left-side {
    padding: 20px;
    margin-top: 2rem;
}
.banner .heading{
    font-size: 44px;
    margin-bottom: 2rem;
}
.banner .tagline{
    font-family: Nunito;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.28px;
    text-align: left;
    color: var(--text-white);
    margin-bottom: 2rem;
}
.banner .btn-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.banner .btn-group .custom-btn{
    background: #fff;
    color: var(--default-color);
    outline: none;
    border: none;
    box-shadow: none;
}
.banner .btn-group .custom-btn:before{
    background: #FDA31B;
}
.banner .btn-group .custom-btn:hover{
    color: #fff;
}

.achivements .points{
    background: var(--bg-light);
    min-height: 95px;
    border-radius: 10px;
    align-items: center;
    position: relative;
    top: -3rem;
}
.achivements .part{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    border-right: 1px dashed #AEAEAE;
}
.achivements .col-lg-3:nth-last-child(1) .part{
    border-right: none;
}
.achivements .part img{
    margin-top: 10px;
}
.achivements .part .head{
    display: block;
    font-size: 30px;
    font-weight: 800;
}
.achivements .part span{
    display: block;
    font-size: 20px;
    font-weight: 600;
}

.sectors{
    padding-top: 30px;
    padding-bottom: 60px;
    background: var(--bg-white);
}
.sectors .heading{
    font-size: 30px;
    margin-bottom: 1rem;
}
.sectors .tagline{
    font-size: 20px;
    margin-bottom: 2rem;
}
.sectors .market .head{
    font-size: 25px;
    font-family: var(--heading-font);
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.sectors .market .points{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 20px;
}
.sectors .market .points span{
    font-weight: 700;
}
.sectors .market .points span{
    font-weight: 700;
    padding-left: 30px;
    position: relative;
    display: inline-flex;
    align-items: center;
}
.sectors .market .points span:before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 4px;
    background: var(--bg-blue);
}
.sectors .market .points div:nth-child(2) span:before{
    background: var(--bg-accent);
}
.sectors .market .points div:nth-child(3) span:before{
    background: var(--bg-orange);
}

.employment{
    background: var(--bg-light);
    padding: 60px 0;
}
.employment .heading{
    text-align: center;
    margin-bottom: 3rem;
}
.employment .center-part{
    text-align: center;
    padding: 1rem 0;
}
.employment .center-part img{
    width: 80%;
}
.employment .points{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}
.employment .points .point{
    background: var(--bg-white);
    border-radius: 10px;
    box-shadow: 4px 3px 26px #0103732d;
    padding: 1.5rem;
    width: calc(27% - 10px);
    min-height: 13rem;
}
.employment .points:nth-last-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.employment .points .point .head{
    font-size: 20px;
    font-weight: 700;
    margin: 0.7rem 0;
}

.pp-success{
    background: var(--bg-blue);
    min-height: 96px;
    display: flex;
    align-items: center;
}
.pp-success .strip-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pp-success .heading{
    color: var(--text-white);
    margin-bottom: 0;
}
.pp-success .heading span{
    color: var(--text-orange);
}
.pp-success .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.pp-success .btn-group .custom-btn:nth-child(1){
    background: #fff;
    color: var(--default-color);
    border: none;
    box-shadow: none;
    outline: none;
}
.pp-success .btn-group .custom-btn:nth-child(1):before{
    background: #FDA31B;   
}
.pp-success .btn-group .custom-btn:nth-child(1):hover{
    color: #fff;   
}
.pp-success .btn-group .custom-btn:nth-child(2):before{
    background: #fff;   
}
.pp-success .btn-group .custom-btn:nth-child(2):hover{
    color: var(--default-color); 
}

.country{
    padding: 60px 0;
    background: var(--bg-white);
}
.country .heading{
    text-align: center;
}
.country .head{
    font-size: 28px;
    font-weight: 700;
}
.country .tagline{
    font-size: 20px;
    margin: 1.5rem 0;
}
.country ul{
    list-style: none;
    padding: 0;
}
.country ul li{
    float: left;
    min-width: 50%;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 20px;
}
.country ul li span{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    background: var(--bg-blue);
    color: var(--text-white);
    font-size: 16px;
}
.country ul li:nth-child(1) span{
    background: #FF8400;
}
.country ul li:nth-child(2) span{
    background: #FE186E;
}
.country ul li:nth-child(3) span{
    background: #0000FF;
}
.country ul li:nth-child(4) span{
    background: #8F37CF;
}
.country ul li:nth-child(5) span{
    background: #81D601;
}
.country ul li:nth-child(6) span{
    background: #CC66FF;
}
.country ul li:nth-child(7) span{
    background: #00B9AE;
}
.country ul li:nth-child(8) span{
    background: #FFCC00;
}

.recruiters{
    padding-bottom: 60px;
    background: var(--bg-light);
}
.recruiters .heading{
    position: relative;
    top: -1.2rem;
}
.recruiters .heading span{
    background: var(--bg-blue);
    color: var(--text-white);
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
    box-shadow: 2px 6px 8px 0 #01037348;
}

.alumni{
    padding: 60px 0;
    background: var(--bg-white);
}
.alumni .heading{
    margin-bottom: 1rem;
}
.alumni .tagline{
    font-size: 20px;
    margin-bottom: 2rem;
}
.alumni .points{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.alumni .points .part{
    width: calc(19% - 10px);
    background: var(--bg-white);
    border: 1px solid #AAA8A8;
    border-radius: 10px;
    text-align: center;
    padding-top: 2rem;
}
.alumni .points .part .name{
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0 5px 0;
    color: var(--text-black);
}
.alumni .points .part .profession{
    font-size: 14px;
    font-weight: 600;
    color: #5F5F5F;
    margin-bottom: 1rem;
    min-height: 45px;
}
.alumni .points .part .bottom-side{
    border-top: 1px solid #AAA8A8;
}
.alumni #load-more-btn{
    min-height: 56px;
    min-width: 130px;
    border: none;
    border-radius: 40px 50px 50px 0px;
    background: #FDA31B;
    padding: 15px 30px;
    color: #FFF;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: capitalize;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}
.alumni #load-more-btn:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #113563;
    z-index: -1;
    transition: ease 0.5s;
}
.alumni #load-more-btn:hover::before{
    width: 110%;
    height: 300px;
}

.discover-main{
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 60px;
}
.discover-main .girl-part{
    position: absolute;
    text-align: center;
    bottom: 0;
    z-index: 1;
}
.discover{
    background: #113563;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding: 3rem 0;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
.discover .heading{
    font-size: 25px;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
}
.discover .tagline{
    color: #fff;
}
.discover::after, .discover::before{
    content: "";
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    background: #0C4286;
    border: 50px solid #143C70;
    z-index: -1;
}
.discover::after{
    left: 0;
    bottom: -150px;
}
.discover::before{
    right: -170px;
    bottom: -150px;
}
.discover .custom-btn{
    border: none;
}

.industry-placement{
    padding: 60px 0;
    background: linear-gradient(90deg, var(--bg-light), var(--bg-white));
}
.role-placement{
    padding: 60px 0;
    background: linear-gradient(-90deg, var(--bg-light), var(--bg-white));
}
.industry-placement .heading, .role-placement .heading{
    text-align: center;
    margin-bottom: 3rem;
}
.industry-placement .list, .role-placement .list{
    list-style: none;
    padding: 0;
    padding-left: 10rem;
}
.industry-placement .list li, .role-placement .list li{
    position: relative;
    padding-left: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: 500;
}
.industry-placement .list li:before, .role-placement .list li:before{
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    background: var(--bg-blue);
    border-radius: 5px;
}
.industry-placement .list li:nth-child(2):before{
    background: #2CADFC;
}
.industry-placement .list li:nth-child(3):before{
    background: #FFB420;
}
.industry-placement .list li:nth-child(4):before{
    background: #00FFEC;
}
.industry-placement .list li:nth-child(5):before{
    background: #62CA40;
}
.industry-placement .list li:nth-child(6):before{
    background: #DC44D9;
}

.role-placement .list li:nth-child(2):before{
    background: #2CADFC;
}
.role-placement .list li:nth-child(3):before{
    background: #00FFEC;
}
.role-placement .list li:nth-child(4):before{
    background: #62CA40;
}
.role-placement .list li:nth-child(5):before{
    background: #FFB420;
}
.role-placement .list li:nth-child(6):before{
    background: #DC44D9;
}

.faq {
    padding: 60px 0;
}
.faq .heading{
    margin-bottom: 40px;
    text-align: center;
}

.faq .accordion .accordion-header{
    background: var(--bg-white);
    box-shadow: 9px 9px 20px 0px rgba(48, 197, 210, 0.23);
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    border-left: 10px solid var(--bg-blue);
}
.faq .accordion .accordion-item{
    margin-bottom: 1rem;
    border: 0;
    background: var(--bg-white);
}
.faq .accordion .accordion-item:nth-last-child(1) {
    margin-bottom: 0;
}
.faq .accordion .accordion-header .accordion-button{
    color: var(--default-color);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 7px 50px 6px 27px;
    position: relative;
    border: 0;
    width: 100%;
    text-align: left;
    background: transparent;
    text-decoration: none;
    box-shadow: none;
}
.faq .accordion .accordion-header .accordion-button.collapsed::after{
    content: "";
    background: url(../images/our-placements/arrow-down-blue.svg) no-repeat;
    background-size: contain;
    height: 13px;
    width: 19px;
    display: block;
    position: absolute;
    right: 15px;
    transform: rotate(0deg);
}
.faq .accordion .accordion-header .accordion-button::after{
    content: "";
    background: url(../images/our-placements/arrow-down-blue.svg) no-repeat;
    background-size: contain;
    height: 13px;
    width: 19px;
    display: block;
    position: absolute;
    right: 15px;
    transform: rotate(180deg);
}
.faq .accordion .accordion-body{
    color: var(--default-color);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.faq .accordion .accordion-body p{
    color: var(--default-color);
    font-size: 18px;
}

.dm_bk-free-demotext {
    color: #2b0f64;
    font-family: Montserrat;
    font-size: 22px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.popcutbtn_fgf,
.popcutbtn_fgf:hover {
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 9;
  margin: right auto;
  background-color: white !important;
  padding: 6px !important;
  font-size: 10px;
  opacity: 1 !important;
  border-radius: 50% !important;
}
.modal_content-customp {
  padding-top: 20px;
}
.dm-popf-demo-bt {
    border-radius: 6px;
    background: #2b0f64;
    font-size: 17px;
    color: #fff;
    padding: 1% 6%;
  }
  .dm-pop-un_textondition {
    padding: 20px 2% 0 2%;
    text-align: center;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .dm_demo-sucesfd_img {
    width: 100px;
  }
  .dm_we-recieved-fvm {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .dm_we-recieved-fvm span {
    max-width: 300px;
    color: #2b0f64;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .dm-thnk_srtfvdc {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .dm-scssfd_spn {
    border-radius: 37px;
    background: #d1098d;
    color: #fff;
    width: 200px;
    padding: 6px 0px 5px 2px;
    font-size: 18px;
  }
  .nk_srtfvdc-imgspn {
    height: 33px;
    display: inline-block;
    aspect-ratio: 1 / 1;
    background: #fff;
    border-radius: 50%;
    margin-right: 30px;
    padding: 2px;
  }
  .dm-succedssf_icbdv {
    filter: invert(1);
    transform: rotate(180deg);
    padding: 6px;
  }
  .dm_phoev-iconbnv {
    padding: 5px;
  }
  
  .dm-popf-enquiry-bt {
    border-radius: 37px;
    background: #2b0f64;
    color: #fff;
    font-size: 16px;
    width: 57%;
    max-width: 250px;
    min-width: 197px;
    font-style: normal;
    padding: 11px 0;
    font-weight: 700;
    line-height: 120%;
  }
  .arrow-iconbtnspan-dmc {
    height: 43px;
    aspect-ratio: 1 / 1;
    border: 4px solid #d1098d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #fff;
    right: -4px;
    top: -1px;
    border-radius: 50%;
  }
  .arrow-iconbtnspan-dmc img {
    width: 18px;
    height: auto;
  }
/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .accent-btn, .blue-btn{
        font-size: 16px;
        min-width: 130px;
    }
    .heading {
        font-size: 30px;
    }
    .sectors .market .points {
        gap: 10px;
    }
    .industry-placement .list, .role-placement .list {
        padding-left: 5rem;
    }
    .pp-success .heading {
        font-size: 22px;
    }
}
/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    .banner .heading{
        font-size: 30px;
    }
    .banner-top{
        background: url(../images/our-placements/banner.webp) center left no-repeat;
        min-height: auto;
        padding: 50px 0;
    }
    .banner-top .left-side{
        margin-top: 0;
    }
    .achivements .points{
        top: 0;
        padding: 20px 0;
    }
    .achivements .part{
        border-right: none;
    }
    .achivements .points .col-lg-3:nth-child(1){
        border-right: 1px dashed #AEAEAE;
        border-bottom: 1px dashed #AEAEAE;
    }
    .achivements .points .col-lg-3:nth-child(2){
        border-bottom: 1px dashed #AEAEAE;
    }
    .achivements .points .col-lg-3:nth-child(3){
        border-right: 1px dashed #AEAEAE;
    }
    .sectors .market .head{
        text-align: center;
    }
    .sectors .market .points{
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
    }
    .employment .center-part{
        display: none;
    }
    .employment .points .point{
        width: calc(33% - 10px);
        margin-bottom: 2rem;
        min-height: 225px;
    }
    .pp-success .strip-part {
        flex-direction: column;
        padding: 2rem 0;
    }
    .country .head {
        margin-top: 3rem;
    }
    .alumni .points .part {
        width: calc(32% - 10px);
    }
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .heading{
        text-align: center;
        font-size: 25px;
    }
    .banner .tagline{
        text-align: center;
    }
    .banner .btn-group {
        justify-content: center;
    }
    .achivements .part {
        justify-content: flex-start;
        padding-top: 1rem;
    }
    .achivements .points .col-md-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .achivements .part .content {
        min-height: 6rem;
    }
    .achivements .part .head {
        font-size: 20px;
    }
    .achivements .part span {
        font-size: 16px;
    }
    .sectors .heading, .sectors .tagline{
        text-align: center;
    }
    .sectors .btn-group{
        justify-content: center;
        display: flex;
    }
    .employment .points{
        flex-direction: column;
        gap: 0;
    }
    .employment .points .point {
        width: 100%;
        margin-bottom: 1rem;
        min-height: auto;
    }
    .pp-success .heading, .country .head, .country .tagline{
        text-align: center;
        margin-bottom: 1rem;
    }
    .recruiters .col-md-4{
        flex: 0 0 auto;
        width: 50%;
    }
    .alumni .points .part{
        width: 100%;
    }
    .discover::before{
       display: none;
    }
    .discover .heading{
        padding: 0 1rem;
    }
    .discover-main .girl-part{
        display: none;
    }
    .industry-placement .list{
        padding-left: 0;
        padding-top: 2rem;
    }
    .role-placement .list{
        padding-left: 0;
        padding-bottom: 2rem;
    }
    
}
/*---other css--*/