:root {
    --heading-font: "Inter", sans-serif;
    --default-font: "Nunito", sans-serif;

    --bg-white: #ffffff;
    --bg-light: #F5F5FF;
    --bg-blue: #113563;
    --bg-orange: #FF8C02;
    --bg-yellow: #FF9D00;
    --bg-banner-gradient: linear-gradient(-90deg, #D9F9FF, #EAECFF);
    --bg-blue-gradient: linear-gradient(-90deg, #02C4EB, #113563);
    --bg-angular-gradient: conic-gradient(from 90deg, #113563, #BFBFE7);
    --bg-accent: #30C5D2;
    --bg-gray: #E8E8E8;
    --bg-part2: #E8EEFF; 
    --bg-green: #008E17; 

    --default-color: #000;
    --accent-color: #30C5D2;
    --text-white: #fff;
    --text-black: #000;
    --text-green: #008E17;
    --text-orange: #FF8C02;
    --text-yellow: #FF9D00;

    scroll-behavior: smooth;
}
.sec-padding{
    padding: 0 7%;
}
.heading {
    color: var(--default-color);
    font-family: var(--heading-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
}
.heading span{
    color: #FDA31B;
}
.blue-btn{
    color: var(--text-white);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-height: 50px;
    min-width: 145px;
    text-decoration: none;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border: 1px solid #010273;
    color: var(--text-white);
    background: var(--bg-blue);
}
.blue-btn:hover{
    background: var(--bg-blue);
}

header .navbar .nav-item:nth-child(3) .nav-link:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: #000;
}

/*--banner--*/
.banner-top{
    padding: 60px 0;
    min-height: 600px;
    background: linear-gradient(97deg, #012758 1.88%, #042858 48.14%, #224579 76.4%);
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 565px;
    padding: 60px 0;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.banner-top .bg-curve{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.banner-top .row{
    align-items: flex-start;
}
.banner-top .heading{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    text-align: left;
}
.banner-top .heading img{
    margin-left: 10px;
}
.banner-top .heading span{
    color: #FDA31B;
}
.banner-top .heading span:nth-child(n+2){
    display: block;
}
.banner-top .best-part {
    font-size: 16px;
    font-weight: 700;
    background: #ffeed9;
    color: #f85b00;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
}
.banner-top .tagline{
    color: #fff;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.banner-top .tagline span{
    color: #FDA31B;
}
.banner-top .content{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.banner-top .points{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 30px;
}
.banner-top .points .part{
    display: inline-block;
    max-width: 170px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    margin-bottom: 0;
    border-radius: 14px;
    border: 1px solid #FFF;
    padding: 20px;
}
.banner-top .points .part:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: linear-gradient(225deg, #FDA31B 50%, transparent 50%);
    top: 10px;
    right: 10px;
}
.banner-top .points .part:nth-child(even):after{
    background: linear-gradient(225deg, #FFF 50%, transparent 50%);
}
.banner-top .points .part span{
    display: block;
    margin-bottom: 10px;
    color: #FDA31B;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-top .note{
    color: #FFF;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0;
    font-style: italic;
}
.banner-top .note a{
    color: #1ECEFF;
    text-decoration: none;
}
.banner-top .form-sec{
    width: 380px;
    margin-left: auto;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 3px 5px #4f75a8;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.banner-top .form-sec:after{
    content: "";
    position: absolute;
    left: -105%;
    top: 17%;
    background: url(../images/career-accelx-programs/arrow2.svg) top right no-repeat;
    height: 100%;
    width: 100%;
}
.banner-top .form-sec .heading{
    font-size: 25px;
    color: #010273;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-top .form-sec .heading span{
    color: var(--bg-orange);   
}
.banner-top .form-sec form input, .banner-top .form-sec form .form-control {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    outline: none;
    box-shadow: none;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #203F75;
}
.banner-top .form-sec form .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.banner-top .form-sec form .btn-group .blue-btn {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    min-height: 30px;
    margin-bottom: 0;
    width: 100%;
    background: #012758;
}
.banner-top .form-sec .note {
    color: #767676;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background: #FFC400;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.marquee-container .swiper { width: 100%;}
.marquee-container .swiper-wrapper { transition-timing-function: linear !important; }
.marquee-container .swiper-slide {
    width: auto !important;
    padding: 0 10px;
    white-space: nowrap;
    color: #0C182E;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    gap: 20px;
}

.why-choose{
    padding: 60px 0;
    background: linear-gradient(0deg, var(--bg-light), transparent);
}
.why-choose .heading{
    text-align: center;
    margin-bottom: 40px;
}

.why-choose .points{
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
}
.why-choose .points .part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 20px);
    text-align: center;
    background: linear-gradient(0deg, #224579, #022858);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ffffff57;
    min-height: 170px;
    overflow: hidden;
    position: relative;
    transition: ease 0.3s;
}
.why-choose .points .part:hover{
    background: #224579;
}
.why-choose .points .part .icon{
    margin-bottom: 20px;
    transition: ease 0.3s;
    position: absolute;
    top: 30px;
}
.why-choose .points .part .head{
    color: #fff;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    padding: 0 30px;
    transition: ease 0.3s;
    position: absolute;
    top: 80px;
}
.why-choose .points .part .content{
    padding: 30px;
    transition: ease 0.3s;
    position: absolute;
    top: 100%;
}
.why-choose .points .part p{
    color: #fff;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
}
.why-choose .points .part:hover .icon{
    top: -100%;
    transition: ease 0.3s;
}
.why-choose .points .part:hover .head{
    top: -100%;
    transition: ease 0.3s;
}
.why-choose .points .part:hover .content{
    top: 0;
    transition: ease 0.3s;
}

.courses{
    padding: 60px 0;
}
.courses .heading{
    margin-bottom: 40px;
}
.courses .nav-tabs{
    flex-wrap: nowrap;
    border: 0;
    justify-content: center;
    margin-bottom: 40px;
}
.courses .nav-tabs .nav-link{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid var(--bg-blue);
}
.courses .nav-tabs .nav-link.active{
    background: var(--bg-blue);
    color: #fff;
}
.courses .row{
    row-gap: 30px;
}
.courses .part{
    padding: 30px;
    border-radius: 10px;
    background: #fff0;
    box-shadow: 0 6px 14px 0 #0102731f;
    border: 2px solid transparent;
    min-height: 400px;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: ease 0.5s;
}
.courses .part:hover{
    background: linear-gradient(#fff, #ecf4ff) padding-box, linear-gradient(119deg, rgb(17 33 60) 15%, rgb(67 128 191)) border-box;
}
.courses .part .image{
    position: relative;
    top: 0;
    transition: ease 0.5s;
    height: auto;
    margin-bottom: 20px;   
}
.courses .part .image img{
   object-fit: content;
   width: 100%;
   border-radius: 10px;
   margin-bottom: 10px;
}
.courses .part:hover .image {
    position: relative;
    top: -100%;
    transition: ease 0.5s;
    height: 0;
    margin-bottom: 0;
}
.courses .part .head{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
    color: #000;
}
.courses .part .head span{
    display: block;
    padding: 5px 20px;
    border-left: 4px solid #010273;
    background: linear-gradient(90deg, #ddd, #fff);
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-top: 10px;
}
.courses .part .content{
    position: relative;
    bottom: -100%;
    height: 0;
    transition: ease 0.5s;
}
.courses .part:hover .content{
    position: relative;
    bottom: 0;
    height: auto;
    margin-top: 20px;
}
.courses .part ul{
    padding-left: 1rem;
    margin-bottom: 20px;
}
.courses .part ul li{
    color: #000;
}
.courses .part .btn-group{
    gap: 20px;
    flex-wrap: wrap;
}
.courses .part .blue-btn{
    min-width: 100px;
    font-size: 16px;
    min-height: 30px;
    /*position: absolute;*/
    /*bottom: 30px;*/
}
.courses .part .blue-btn:hover{
    background: var(--text-white) !important;
    color: var(--bg-blue) !important;
}
.courses .part .btn-group .blue-btn:nth-last-child(1){
    background: var(--text-white) !important;
    color: var(--bg-blue) !important;
}
.courses .part .btn-group .blue-btn:nth-last-child(1):hover{
    background: var(--bg-blue) !important;
    color: var(--text-white) !important;
}

.internship-program{
    padding-bottom: 30px;
}
.internship-program .row{
    border-radius: 10px;
   background: linear-gradient(97deg, #012758 1.88%, #042858 48.14%, #224579 76.4%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    margin: 0 .5rem;
}
.internship-program .row .col-md-6{
   padding: 0;
   position: relative;
   z-index: 2;
}
.internship-program .row .col-md-6 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.internship-program .row .col-md-6:nth-child(2){
    padding: 40px;
    position: relative;
}
.internship-program .row .col-md-6:nth-child(2):after{
    content: "";
    width: 185px;
    height: 118px;
    background: url(../images/career-accelx-programs/paper-roll.webp);
    position: absolute;
    right: 40px;
    bottom: 30px;
}
.internship-program .row .col-md-6 .bg-curve{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}
.internship-program .heading{
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
}
.internship-program p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
.internship-program .btn-group{
     margin-top: 10px;       
    position: relative;
    z-index: 1;
}
.internship-program .blue-btn{
    border: 0;
    color: #1F0C44;
    background: #FFC300;
    min-height: 43px;
}
.internship-program .blue-btn:hover{
    background: #fff;
}
.internship-program .icon{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   position: relative;
    z-index: 2;
}
.internship-program .icon span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    transform: rotate(-45deg);
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    top: -37.5px;
}
.internship-program .icon span svg{
    transform: rotate(45deg);
}

.academic-partner {
    padding: 60px 0;
    background: var(--bg-light);
}

.academic-partner .heading {
    text-align: center;
    margin-bottom: 40px
}

.academic-partner .part {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 6px 14.7px 0 rgb(1 2 115 / .1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 30px;
    min-height: 90px
}

.academic-partner .part .icon {
    max-width: 70px
}

.academic-partner .part p {
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin: 0
}

.faculties {
    padding: 60px 0
}

.faculties .heading {
    margin-bottom: 40px
}

.faculties .swiper {
    margin-bottom: 0
}

.faculties .swiper .swiper-slide .item {
    position: relative;
    min-height: 402px;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 12px 0 rgb(12 112 106 / .25);
    border-radius: 10px;
    overflow: hidden;
    text-align: center
}

.faculties .swiper .swiper-slide .item img:nth-child(1) {
    width: 100px;
    margin: 10px auto 0 auto;
    border-radius: 50%;
    overflow: hidden
}

.faculties .swiper .swiper-slide .item img:nth-last-child(1) {
    text-align: center;
    display: inline-block;
    padding-top: 20px
}

.faculties .swiper .swiper-slide .item .content-box {
    padding: 15px 15px 20px 15px
}

.faculties .swiper .swiper-slide .item .content-box .head {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black);
    font-family: var(--default-font)
}

.faculties .swiper .swiper-slide .item .content-box p {
    font-size: 16px;
    color: var(--text-black);
    font-family: var(--default-font);
    margin: 0
}

.faculties .swiper .swiper-slide .item .content-box p strong {
    display: block
}

.faculties .swiper .next-pre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px
}

.faculties .swiper .swiper-button-prev1,.faculties .swiper .swiper-button-next1 {
    background: var(--bg-blue);
    border-radius: 50%;
    box-shadow: 0 1px 2px 1px #f1f0f0;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 40px;
    height: 40px;
    position: relative
}

.faculties .swiper .swiper-button-next1 {
    right: 0
}

.faculties .swiper .swiper-button-prev1:after {
    content: '';
    background: url(../images/career-accelx-programs/arrow-down-left.svg) center center no-repeat;
    transform: rotate(0deg);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0
}

.faculties .swiper .swiper-button-next1::after {
    content: '';
    background: url(../images/career-accelx-programs/arrow-down-left.svg) center center no-repeat;
    transform: rotate(-180deg);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0
}

.certificate{
    padding: 60px 0;
    background: #f5f5ff;
}
.certificate .heading{
    margin-bottom: 20px;
}
.certificate .heading span span{
    color: var(--default-color);
}
.certificate .heading span span:after{
    display: none;
}
.certificate .tagline{
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
}
.certificate .image-part{
    border-radius: 10px;
    background: linear-gradient(180deg, #17769F 0%, #030405 100%);
    padding: 20px;
    text-align: center;
}
.certificate .image-part img{
    width: 100%;
}
.certificate .image-part .certificate-tagline{
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 20px;
}
.certificate .parts{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.certificate .parts .part{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #DDD;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(221, 221, 221, 0.25);
    min-height: 220px;
    width: calc(50% - 20px);
}
.certificate .parts .part .icon{
    min-width: 50px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F6F4FB;
    border-radius: 50%;
    margin-bottom: 15px;
}
.certificate .parts .part .head{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.certificate .parts .part p{
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
}
.certificate .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.certificate .btn-group .blue-btn{
    min-width: 200px;
    font-size: 16px;
    min-height: 30px;
}
.certificate .btn-group .blue-btn:hover{
    background: var(--text-white) !important;
    color: var(--bg-blue) !important;
}

.certificate .nav-tabs {
    justify-content: center;
    border: none;
    margin-top: 1rem;
    gap: 20px
}

.certificate .nav-tabs .nav-link {
    color: #010273;
    font-weight: 600;
    position: relative;
    padding: 0;
    padding-left: 30px;
    margin-left: 10px;
    border: none
}

.certificate .nav-tabs .nav-link:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #010273
}

.certificate .nav-tabs .nav-link.active:after {
    background: #010273;
    box-shadow: inset 0 0 0 2px #fff
}

.certificate .nav-tabs .nav-link.active {
    background: #fff0;
    border: none;
    color: #010273;
    font-weight: 600;
    padding: 0;
    padding-left: 30px;
    margin-left: 10px
}

.achievement{
    background: linear-gradient(97deg, #012758 1.88%, #042858 48.14%, #224579 76.4%);
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.achievement .bg-curve{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.achievement .heading{
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 50px;
}
.achievement .tagline{
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}
.achievement ul{
    list-style: none;
    margin-bottom: 50px;
}
.achievement li{
    color: #fff;
    position: relative;
    margin-bottom: 7px;
}
.achievement li:before{
    content: "";
    height: 17px;
    width: 17px;
    position: absolute;
    left: -37px;
    top: 5px;
    background: url(../images/career-accelx-programs/arrow-right.webp) no-repeat;
}
.achievement img{
 object-fit: cover;
 height: 100%;
}

.service{
    padding: 60px 0;
}
.service .heading{
    margin-bottom: 20px;
    text-align: center;
}
.service .tagline{
    font-size: 18px;
    margin-bottom: 60px;
    text-align: center;
}
.service .row{
    border-radius: 40px;
    border: 10px solid #FFF;
    background: #012758;;
    box-shadow: 0px 4px 4px 2px rgba(31, 12, 68, 0.10);
    margin: 0 0.5rem;
    padding: 0 1rem;
    justify-content: center;
}
.service .part{
    text-align: center;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 100%;
    min-height: 364px;
    transition: ease 0.4s;
}
.service .part:hover{
    padding-top: 0;
}
.service .part:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: transparent;
    z-index: -1;
    transition: ease 0.4s;
}
.service .part:hover:after{
    height: 115%;
    background: #FDA31B;
}
.service .part .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 58px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: #0F3E73;
    margin-bottom: 30px;
    transition: ease 0.4s;
}
.service .part:hover .icon{
    background: #D98910;
}
.service .part:hover .icon svg path[fill="#FFD600"]{
    fill: #0F3E73;
}
.service .part .head{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 25px;
}
.service .part p{
    color: #FFF;
    margin-bottom: 30px;
}
.service .part:hover .head, .service .part:hover p{
    color: #0F3E73;
}

/*--heading animation--*/
.why-choose .heading span, .courses .heading span, .certificate .heading span{
    position: relative;
    display: inline-block;
}
.why-choose .heading span:after, .courses .heading span:after, .certificate .heading span:after{
    content:"";
    height: 3px;
    width: 20px;
    background-color: var(--bg-orange);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 5px;
    -webkit-animation: left-right 6s linear infinite both;
    animation: left-right 6s linear infinite both;
}
@keyframes left-right {
    0%{
        left: 0;
    }
    50%{
        left: calc(100% - 20px);
    }
    100%{
        left: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .banner-top .form-sec{
        width: 100%;
    }
    .banner-top .form-sec:after {
        left: -30%;
        width: 20%;
    }
}
/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    .banner-top .form-sec:after {
        display: none;
    }
    .banner-top .form-sec{
        width: 380px;
        margin: auto;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .why-choose .points{
        width: 100%;
    }
    .internship-program .icon{
        display: none;   
    }
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .heading{
        font-size: 30px;
    }
    .banner-top .heading{
        gap: 0;
    }
    .banner-top .heading img{
        display: none;
    }
    .banner-top .points{
        flex-wrap: wrap;
    }
    .banner-top .points .part{
        min-width: calc(50% - 40px);
    }
    .banner-top .points .part:nth-child(2)::after{
       display: none;
    }
    .banner-top .form-sec{
        width: 100%;
    }
    .why-choose .points .part .head, .why-choose .points .part .content{
        font-size: 16px;
        padding: 10px;
    }
    .why-choose .points .part{
        width: calc(50% - 20px);
    }
    .academic-partner .part {
        padding: 10px;
        min-height: 70px;
    }
    .academic-partner .part .icon{
        max-width: 50px;
        max-height: 50px;
    }
    .academic-partner .part p {
        font-size: 9px;
        line-height: 14px;
    }
    .certificate .parts .part {
        width: 100%;
    }
}
/*---other css--*/